

{# Image responsive #}

{# <img src="{{ post_item.thumbnail.src('medium_large') }}"/> #}
{# <img src="{{ post_item.thumbnail.src('medium_large') }}" srcset="{{ post_item.thumbnail.srcset }}" sizes="{{ post_item.thumbnail.img_sizes }}"/> #}


{# Load more params #}

{# <p>found_posts : {{ loadmore_params.found_posts }}</p>
		<p>paged / max_num_pages : {{ loadmore_params.paged }} / {{ loadmore_params.max_num_pages }}</p>
		<p>posts_per_page : {{ loadmore_params.posts_per_page }}</p>
		<p>query_order : {{ loadmore_params.query_order }}</p> #}